@model Model.Film

@{
    ViewBag.Title = "Betal";
}


<div class="container py-3">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 mx-auto">
            <div id="pay-invoice" class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h2 class="text-center">Betal</h2>
                    </div>
                    <hr>
                    <form>
                        <input type="hidden" id="x_first_name" name="x_first_name" value="">
                        <input type="hidden" id="x_last_name" name="x_last_name" value="">
                        <input type="hidden" id="x_card_num" name="x_card_num" value="">
                        <input type="hidden" id="x_exp_date" name="x_exp_date" value="">
                        <div class="form-group text-center">
                            <ul class="list-inline">
                                <li class="list-inline-item"><img src="http://bootstrap-ecommerce.com/main/images/icons/pay-visa.png"><i class="text-muted fa fa-cc-visa fa-2x"></i></li>
                                <li class="list-inline-item"> <img src="http://bootstrap-ecommerce.com/main/images/icons/pay-mastercard.png"><i class="fa fa-cc-mastercard fa-2x"></i></li>
                                <li class="list-inline-item"><img src="http://bootstrap-ecommerce.com/main/images/icons/pay-american-ex.png"><i class="fa fa-cc-amex fa-2x"></i>
                                </li>
                                <li class="list-inline-item"><i class="fa fa-cc-discover fa-2x"></i></li>
                            </ul>
                        </div>                       

                        <div class>
                            <label for="cc-name">Navn på kort eier</label>
                            <input id="cc-name" name="cc-name" pattern="[A-Z a-z\s]{1,35}" required type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" placeholder="Navn på kort" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                            
                        </div>
                        <div>
                            <label for="cc-number">Kortnummer</label>
                            <input id="cc-number"  name="cc-number" pattern="[0-9]{16}"  required type="text" class="form-control cc-number identified visa" value="" data-val="true" data-val-required="Please enter the card number" data-val-cc-number="Please enter a valid card number" placeholder="Kortnummer" autocomplete="cc-number">
                           
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-exp">Utløpsdato</label>
                                    <input id="cc-exp"  name="cc-exp" pattern="(([0-9]{2})/([0-9]{2}))"  required type="text" class="form-control cc-exp" value="" data-val="true" data-val-required="Please enter the card expiration" data-val-cc-exp="Please enter a valid month and year" placeholder="MM / YY" autocomplete="cc-exp">
                                   
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="x_card_code">Sikkerhetskode/CCV</label>
                                <div class="input-group">
                                    <input id="x_card_code"  name="x_card_code" pattern="[0-9]{3}"  required type="tel" class="form-control cc-cvc" value="" data-val="true" data-val-required="Please enter the security code" data-val-cc-cvc="Please enter a valid security code" placeholder="Sikkeretskode"  autocomplete="off">
                                    <div class="input-group-addon">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            
                                <a class="btn btn-primary btn-lg" href="/bestilling/LeggFilmtilOrder" style="background-color:red">Betal</a>
                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

