@{
    ViewBag.Title = "Home Page";
}


<div class="textcolor">

    <h1>FEATURED MOVIES</h1>


<div class="textcolor">

    <div class="row">
        <div class="row__inner">

            <h3>Action</h3>

            <div class="tile">
                <div class="tile__media">
                    <img class="tile__img" src="~/Content/Bilder/Black.jpg" alt="" />
                </div>
                <div class="tile__details">
                    <div class="tile__title">
                        Black Panther
                    </div>
                </div>
            </div>

            <div class="tile">
                <div class="tile__media">
                    <img class="tile__img" src="~/Content/Bilder/equalizer.jpg" alt="" />
                </div>
                <div class="tile__details">
                    <div class="tile__title">
                        Equalizer 2
                    </div>
                </div>
            </div>

            <div class="tile">
                <div class="tile__media">
                    <img class="tile__img" src="~/Content/Bilder/Logan.jpg" alt="" />
                </div>
                <div class="tile__details">
                    <div class="tile__title">
                        Logan
                    </div>
                </div>
            </div>

            <div class="tile">
                <div class="tile__media">
                    <img class="tile__img" src="~/Content/Bilder/MissionImp.jpg" alt="" />
                </div>
                <div class="tile__details">
                    <div class="tile__title">
                        Mission Impossible
                    </div>
                </div>
            </div>

            <div class="tile">
                <div class="tile__media">
                    <img class="tile__img" src="~/Content/Bilder/pacific.jpg" alt="" />
                </div>
                <div class="tile__details">
                    <div class="tile__title">
                        Top Gear
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="row__inner">

            <h3>Action</h3>

            <div class="tile">
                <div class="tile__media">
                    <img class="tile__img" src="~/Content/Bilder/Black.jpg" alt="" />
                </div>
                <div class="tile__details">
                    <div class="tile__title">
                        Top Gear
                    </div>
                </div>
            </div>

            <div class="tile">
                <div class="tile__media">
                    <img class="tile__img" src="~/Content/Bilder/equalizer.jpg" alt="" />
                </div>
                <div class="tile__details">
                    <div class="tile__title">
                        Top Gear
                    </div>
                </div>
            </div>

            <div class="tile">
                <div class="tile__media">
                    <img class="tile__img" src="~/Content/Bilder/Logan.jpg" alt="" />
                </div>
                <div class="tile__details">
                    <div class="tile__title">
                        Top Gear
                    </div>
                </div>
            </div>

            <div class="tile">
                <div class="tile__media">
                    <img class="tile__img" src="~/Content/Bilder/MissionImp.jpg" alt="" />
                </div>
                <div class="tile__details">
                    <div class="tile__title">
                        Top Gear
                    </div>
                </div>
            </div>

            <div class="tile">
                <div class="tile__media">
                    <img class="tile__img" src="~/Content/Bilder/pacific.jpg" alt="" />
                </div>
                <div class="tile__details">
                    <div class="tile__title">
                        Top Gear
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>


