@{
    ViewBag.Title = "Home Page";
}



<h3 style="color:white;">Action</h3>

<div class="row">
    <div id="image1" class="column">
        <img src="~/Content/Pictures/Black.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/Logan.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/MissionImp.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/pacific.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/Logan.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/MissionImp.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/pacific.jpg" style="width:100%" />
    </div>
</div>

<h3 style="color:white;">Comedy</h3>

<div class="row">
    <div class="column">
        <img src="~/Content/Pictures/21jump.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/Ted.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/CI.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/dumb.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/hangover.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/O8.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/GH.jpg" style="width:100%" />
    </div>
</div>

<h3 style="color:white;">Horror</h3>

<div class="row">
    <div class="column">
        <img src="~/Content/Pictures/IT.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/dont.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/saw.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/Slender.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/conjuring.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/conjuring2.jpg" style="width:100%" />
    </div>

    <div class="column">
        <img src="~/Content/Pictures/getout.jpg" style="width:100%" />
    </div>
</div>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
            <img src="~/Content/Pictures/Black.jpg" style="height:30%; width:25%;"/>
            <div style="position:relative; left:35%; bottom:250px; font-size:80%;">
                <p>
                    I Marvel Studios Black Panther møter vi T'Challa,
                    som etter sin far, Kongen <br />av Wakanda's død,
                    returnerer hjem til en isolert,
                    teknologisk avansert <br />afrikansk nasjon for å overta tronen og ta sin rettmessige plass som konge.
                </p>
                <p>
                    Når en mektig, gammel fiende vender tilbake blir T'Challas evner som konge - <br />og Black Panther - satt på prøve.
                    Han blir dratt inn i en formidabel konflikt som <br />setter Wakanda
                    og hele verdens skjebne i fare. Stilt overfor forræderi og fare,
                    <br />må den unge kongen samle sine allierte og slippe Black Panthers fulle kraft fri <br />for å beseire sine fiender og
                    besørge sitt folks sikkerhet og livsstil.
                </p>
                <h3>Aldersgrense: 12 år</h3>
                <h3>Varighet: 2 t 14 min</h3>
            </div>

        <button style="background-color:green">Kjøp: 120 kr</button>
            
    </div>

</div>