@model Model.FilmView

@{
    ViewBag.Title = "Home Page";
}



<h3 style="color:white;">Action</h3>

<div class="row">


    @foreach (var film in Model.Action)
    {

        <div class="column" data-toggle="modal" data-target="#exampleModal">
            <a id="myBtn" href="/Home/Detaljer?id=@film.Id">    
                <img src="@Url.Content(film.Image)" style="width:100%;" />
            </a>
        </div>
    }


</div>

<h3 style="color:white;">Comedy</h3>

<div class="row">
    @foreach (var film in Model.Komedie)
    {
    <div class="column" data-toggle="modal" data-target="#exampleModal">
        <a id="myBtn" href="/Home/Detaljer?id=@film.Id">
            <img src="@Url.Content(film.Image)" style="width:100%;" />
        </a>
    </div>
    }
</div>

<h3 style="color:white;">Horror</h3>

<div class="row">
    @foreach (var film in Model.Horror)
    {
    <div class="column" data-toggle="modal" data-target="#exampleModal">
        <a id="myBtn" href="/Home/Detaljer?id=@film.Id">
            <img src="@Url.Content(film.Image)" style="width:100%;" />
        </a>
    </div>
    }
</div>

